.video-item a, .video-item a:hover{color: #333;text-decoration: none;}
.video-item-inner{ border-radius: 4px;overflow: hidden;transition: box-shadow 0.3s linear;}
.video-item-inner:hover { box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;}